<div class="HeaderSection">
    <app-roundya-svg [height]="25" [width]="25" [color]="'white'" class="HeadRoundyaIcon"></app-roundya-svg>
    <div class="RoundyaFont" [style.color]="'white'">Roundya</div>
</div>


  <form name="form" #f="ngForm" (ngSubmit)="login()" novalidate>
        <div class="Title FormElement">{{ 'login.title' | translate }}</div>

        <div class="FormElement">
      <mat-form-field>
          <input matInput placeholder="Username" name="username" type="text" #username="ngModel" [(ngModel)]="model.username" />
      </mat-form-field>
        </div>

      <div class="FormElement">
      <mat-form-field>
        <input matInput placeholder="Password" name="password" type="password" #password="ngModel" [(ngModel)]="model.password" />
      </mat-form-field>
      </div>

      <div class="FormElement">
        <div class="ArrangeRoundButtons">
          <button mat-raised-button type="submit" color="primary" class="Left">Login</button>
          <button  mat-stroked-button [routerLink]="['/signup']" color="primary" class="Right">Sign Up</button>
        </div>
      </div>
  </form>

  <mat-error *ngIf="error">
    {{ error }}
  </mat-error>

