<div class="HeaderSection">
  <app-roundya-svg [height]="25" [width]="25" [color]="'white'" class="HeadRoundyaIcon"></app-roundya-svg>
  <div class="RoundyaFont" [style.color]="'white'">Roundya</div>
</div>

  <form name="form" #f="ngForm"
    (ngSubmit)="f.form.valid && onSubmit()"
    [appMustMatch]="['password', 'confirmPassword']"
    novalidate>

        <div class="Title FormElement">SignUp</div>

        <div class="FormElement">
        <mat-form-field>
          <input name="username" matInput placeholder="Username" type="text"
            #username="ngModel"
            [(ngModel)]="model.username"
            minlength="{{ minLengthUsername }}"
            required />
          <mat-hint align="end">Min {{ minLengthUsername }} characters long.</mat-hint>
          <div *ngIf="f.submitted && username.invalid">
            <mat-error *ngIf="username.errors.required">Username required</mat-error>
            <mat-error *ngIf="username.errors.minlength">Min length {{ minLengthUsername }} characters</mat-error>
          </div>
        </mat-form-field>
      </div>

        <div class="FormElement">
        <mat-form-field>
          <input name="password" matInput placeholder="Password" type="password"
            #password="ngModel"
            [(ngModel)]="model.password"
            minlength="12"
            required />
          <mat-hint align="end">Min 12 characters long.</mat-hint>
          <div *ngIf="f.submitted && password.invalid">
              <mat-error *ngIf="password.errors.required">Password required</mat-error>
              <mat-error *ngIf="password.errors.minlength">Min length 12 characters</mat-error>
          </div>
        </mat-form-field>
      </div>

        <div class="FormElement">
        <mat-form-field>
          <input name="confirmPassword" matInput placeholder="Confirm password" type="password"
            #confirmPassword="ngModel"
            [(ngModel)]="model.confirmPassword"
            minlength="12"
            required />
          <mat-hint align="end">Min 12 characters long.</mat-hint>
          <div *ngIf="f.submitted && confirmPassword.invalid">
            <mat-error *ngIf="confirmPassword.errors.required">Confirmation required</mat-error>
            <mat-error *ngIf="confirmPassword.errors.mustMatch">Confirmation must match password</mat-error>
          </div>
        </mat-form-field>
      </div>

        <div class="FormElement">
        <mat-form-field>
          <input name="email" matInput placeholder="Email" type="text"
            #email="ngModel"
            [(ngModel)]="model.email"
            pattern="[^ @]*@[^ @]*"
            required />
          <mat-hint align="end">Valid email address</mat-hint>
          <div *ngIf="f.submitted && email.invalid">
            <mat-error *ngIf="email.errors.required">Email  is required</mat-error>
            <mat-error *ngIf="email.errors.pattern">Please enter valid email addreass</mat-error>
          </div>
        </mat-form-field>
      </div>

        <div class="FormElement">
        <div class="ArrangeRoundButtons">          
          <button  mat-raised-button type="submit" color="primary">Sign Up</button>
        </div>
        </div>


      <mat-error *ngIf="error">
          {{ error }}
      </mat-error>

  </form>


