.FormElement {
  margin: 5px auto;
  width: 75%;
}

.ArrangeRoundButtons {
  width: 90px;
  margin: 15px auto;
}

form {
  position: relative;
  top:10px;
  left:0;
  width:100%;
  height:100%;
}

.mat-raised-button.mat-signup {
  background-color: #666666;
  color: #fff;
}
