<div class="HeaderSection">
    <app-filter-menu [height]="32" [width]="30" [color]="'white'" class="FilterMenu"></app-filter-menu>
    <app-roundya-svg [height]="32" [width]="32" [color]="'white'"></app-roundya-svg>
    <div class="RoundyaFont" [style.color]="'white'">Roundya</div>
    <app-hamburger-menu [height]="32" [width]="30" [color]="'white'" class="HamburgerMenu"></app-hamburger-menu>
</div>

<div class="Frame">

  <form name="form" #f="ngForm"
    (ngSubmit)="f.form.valid && onSubmit()"
    [appMustMatch]="['password', 'confirmPassword']"
    novalidate>

    <mat-grid-list cols="2" rowHeight="10:5">
      <mat-grid-tile colspan="2" md-colspan="2">
        <div class="Title">SignUp</div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" md-colspan="2">
        <mat-form-field>
          <input name="username" matInput placeholder="Username" type="text"
            #username="ngModel"
            [(ngModel)]="model.username"
            minlength="{{ minLengthUsername }}"
            required />
          <mat-hint align="end">Min {{ minLengthUsername }} characters long.</mat-hint>
          <div *ngIf="f.submitted && username.invalid">
            <mat-error *ngIf="username.errors.required">Username required</mat-error>
            <mat-error *ngIf="username.errors.minlength">Min length {{ minLengthUsername }} characters</mat-error>
          </div>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" md-colspan="2">
        <mat-form-field>
          <input name="password" matInput placeholder="Password" type="password"
            #password="ngModel"
            [(ngModel)]="model.password"
            minlength="12"
            required />
          <mat-hint align="end">Min 12 characters long.</mat-hint>
          <div *ngIf="f.submitted && password.invalid">
              <mat-error *ngIf="password.errors.required">Password required</mat-error>
              <mat-error *ngIf="password.errors.minlength">Min length 12 characters</mat-error>
          </div>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" md-colspan="2">
        <mat-form-field>
          <input name="confirmPassword" matInput placeholder="Confirm password" type="password"
            #confirmPassword="ngModel"
            [(ngModel)]="model.confirmPassword"
            minlength="12"
            required />
          <mat-hint align="end">Min 12 characters long.</mat-hint>
          <div *ngIf="f.submitted && confirmPassword.invalid">
            <mat-error *ngIf="confirmPassword.errors.required">Confirmation required</mat-error>
            <mat-error *ngIf="confirmPassword.errors.mustMatch">Confirmation must match password</mat-error>
          </div>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" md-colspan="2">
        <mat-form-field>
          <input name="email" matInput placeholder="Email" type="text"
            #email="ngModel"
            [(ngModel)]="model.email"
            pattern="[^ @]*@[^ @]*"
            required />
          <mat-hint align="end">Valid email address</mat-hint>
          <div *ngIf="f.submitted && email.invalid">
            <mat-error *ngIf="email.errors.required">Email  is required</mat-error>
            <mat-error *ngIf="email.errors.pattern">Please enter valid email addreass</mat-error>
          </div>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" md-colspan="2">
        <button  mat-raised-button type="submit" color="primary">Sign Up</button>
      </mat-grid-tile>

      <mat-error *ngIf="error">
          {{ error }}
      </mat-error>
    </mat-grid-list>
  </form>
</div>

