<form name="form" 
  #f="ngForm" 
  (ngSubmit)="f.form.valid && onSubmit()" 
  (ngSubmit)="onSubmit()" 
  novalidate>

  <!-- <mat-form-field>
    <mat-select placeholder="Subject">
      <mat-option [value]="subject">
        {{'subject.singular' | translate}}
      </mat-option>
      <mat-option [value]="subject">
        {{'subject.plural' | translate}}
      </mat-option>      
    </mat-select> 
  </mat-form-field> -->

  <mat-form-field>
    <mat-select placeholder="Predicate">
      <mat-option *ngFor="let predicate of plurPredicates$ | async" [value]="predicate">
        {{predicate | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <mat-form-field>
      <input name="username" matInput placeholder="Username" type="text" 
        #username="ngModel" 
        [(ngModel)]="model.username" 
        minlength="{{ minLengthUsername }}"
        required />
  
      <mat-hint align="end">Min {{ minLengthUsername }} characters long.</mat-hint>
      <div *ngIf="f.submitted && username.invalid">
        <mat-error *ngIf="username.errors.required">Username required</mat-error>
        <mat-error *ngIf="username.errors.minlength">Min length {{ minLengthUsername }} characters</mat-error>
      </div>
    </mat-form-field>
    
    <p><button  mat-raised-button type="submit" color="primary">Sign Up</button></p>

    <mat-error *ngIf="error">
        {{ error }}
    </mat-error> -->

</form>
