<svg
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   [attr.width.px]="width"
   [attr.height.px]="height"
   viewBox="47 38 38 60"
   version="1.1"
   id="clock-svg">

  <g>
    <ellipse

       [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '1.33445036'}"

       id="path815"
       cx="66.145836"
       cy="72.104164"
       rx="12.561942"
       ry="12.561941" />
    <path

       [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '0.58208333'}"

       d="m 66.115816,60.584008 c 0,11.548872 0,11.548872 0,11.548872"
       id="path825"
       inkscape:connector-curvature="0" />
    <path

       [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '1.32291667'}"

       d="m 73.204019,72.13288 c -7.088203,0 -7.088203,0 -7.088203,0"
       id="path827"
       inkscape:connector-curvature="0" />
    <ellipse

       [ngStyle]="{'fill': color, 'stroke': color, 'stroke-width': '0.53637826'}"

       id="path831"
       cx="66.062225"
       cy="72.143585"
       rx="0.52556092"
       ry="0.52556086" />
  </g>
</svg>
