<svg
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   [attr.width.px]="width"
   [attr.height.px]="height"
   viewBox="28 30 100 150"
   version="1.1"
   id="crowd-svg">

  <g>
    <ellipse
       [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '4'}"
       id="path5107-1-2"
       cx="53.346886"
       cy="93.783577"
       rx="15.961498"
       ry="15.961525" />
    <path
        [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '4'}"       
       d="m 53.299896,110.90758 c 0,20.4557 0,20.4557 0,20.4557"
       id="path5119-3-1"
       inkscape:connector-curvature="0" />
    <path
        [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '4'}"       
       d="m 53.299896,131.36328 -10.88464,13.1367"
       id="path5127-1-9"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
    <path
        [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '4'}"       
       d="m 53.299896,131.36328 c 10.88464,13.1367 10.88464,13.1367 10.88464,13.1367"
       id="path5131-1-6"
       inkscape:connector-curvature="0" />
    <path
        [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '4'}"       
       d="m 42.415256,119.54027 c 21.76928,0 21.76928,-0.18767 21.76928,-0.18767"
       id="path5135-5-8"
       inkscape:connector-curvature="0" />
    <ellipse
        [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '4'}"       
       id="path5107-1"
       cx="94.980461"
       cy="93.931923"
       rx="15.961498"
       ry="15.961525" />
    <path
        [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '4'}"       
       d="m 94.93347,111.05593 c 0,20.45569 0,20.45569 0,20.45569"
       id="path5119-3"
       inkscape:connector-curvature="0" />
    <path
        [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '4'}"       
       d="M 94.93347,131.51162 84.048836,144.64833"
       id="path5127-1"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
    <path
        [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '4'}"       
       d="m 94.93347,131.51162 c 10.88464,13.13671 10.88464,13.13671 10.88464,13.13671"
       id="path5131-1"
       inkscape:connector-curvature="0" />
    <path
        [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '4'}"       
       d="m 84.048836,119.68862 c 21.769274,0 21.769274,-0.18767 21.769274,-0.18767"
       id="path5135-5"
       inkscape:connector-curvature="0" />
    <circle
        [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '4'}"       
       id="path5107"
       cx="72.760414"
       cy="91.947914"
       r="18.295488" />
    <path
        [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '4'}"       
       d="m 72.706639,111.57656 c 0,23.44681 0,23.44681 0,23.44681"
       id="path5119"
       inkscape:connector-curvature="0" />
    <path
        [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '4'}"       
       d="M 72.706639,135.02337 60.23035,150.08096"
       id="path5127"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
    <path
        [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '4'}"       
       d="m 72.706639,135.02337 c 12.476287,15.05759 12.476287,15.05759 12.476287,15.05759"
       id="path5131"
       inkscape:connector-curvature="0" />
    <path
        [ngStyle]="{'fill': 'white', 'stroke': color, 'stroke-width': '4'}"       
       d="m 60.23035,121.47154 c 24.952576,0 24.952576,-0.21511 24.952576,-0.21511"
       id="path5135"
       inkscape:connector-curvature="0" />
  </g>
</svg>
