<svg
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   [attr.width.px]="width"
   [attr.height.px]="height"
   viewBox="35 60 90 110"
   version="1.1"
   id="hamburger-menu">

  <g>
    <rect
       [ngStyle]="{'fill': color, 'stroke': color}"
       id="rect16"
       width="78.670769"
       height="8.6707726"
       x="29.70816"
       y="87.664604" />
    <circle
    [ngStyle]="{'fill': color, 'stroke': color}"
       id="path18"
       cx="108.229"
       cy="92"
       r="4.1666665" />
    <circle
    [ngStyle]="{'fill': color, 'stroke': color}"
       id="path18-3"
       cx="30"
       cy="92"
       r="4.1666665" />
    <rect
    [ngStyle]="{'fill': color, 'stroke': color}"
       id="rect16-8"
       width="78.670769"
       height="8.6707726"
       x="29.70813"
       y="110.3667" />
    <circle
    [ngStyle]="{'fill': color, 'stroke': color}"
       id="path18-39"
       cx="108.229"
       cy="114.70209"
       r="4.1666665" />
    <circle
    [ngStyle]="{'fill': color, 'stroke': color}"
       id="path18-3-7"
       cx="30"
       cy="114.70209"
       r="4.1666665" />
    <rect
    [ngStyle]="{'fill': color, 'stroke': color}"
       id="rect16-8-5"
       width="78.670769"
       height="8.6707726"
       x="29.70813"
       y="132.46452" />
    <circle
    [ngStyle]="{'fill': color, 'stroke': color}"
       id="path18-39-0"
       cx="108.229"
       cy="136.79991"
       r="4.1666665" />
    <circle
    [ngStyle]="{'fill': color, 'stroke': color}"
       id="path18-3-7-5"
       cx="30"
       cy="136.79991"
       r="4.1666665" />
  </g>
</svg>
