.outer-circle {
    display:inline;
    fill:none;
    fill-opacity:1;
    stroke:darkblue;
    stroke-width:2;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1
}

.inner-circle {
    opacity:1;
    fill:darkblue;
    fill-opacity:1;
    stroke:darkblue;
    stroke-width:1.79933977;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1
}

.trabant {
    opacity:1;
    fill:darkblue;
    fill-opacity:1;
    stroke:darkblue;
    stroke-width:1.92000008;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1
}
