<svg
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   [attr.width.px]="width"
   [attr.height.px]="height"
   viewBox="-40 -40 80 80"
   version="1.1"
   id="roundya-svg"
   #roundyasvg>

  <g>
    <circle class="outer-circle"
      [ngStyle]="{'fill': none, 'stroke': color}"
       cx="0"
       cy="0"
       r="30" />
    <circle class="inner-circle"
      [ngStyle]="{'fill': color, 'stroke': color}"
       cx="0"
       cy="0"
       r="15" />
    <circle class="trabant"
      [ngStyle]="{'fill': color, 'stroke': color}"
       cx="28.150"
       cy="10"
       r="2.5" />
   </g>
</svg>

