<svg
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   [attr.width.px]="width"
   [attr.height.px]="height"
   viewBox="0 -10 72 72"
   version="1.1"
   id="roundya-svg">
  <g>
    <circle
       id="path3713-8"
       cx="31.000002"
       cy="30.999998"
       [ngStyle]="{'fill': none, 'stroke': color, 'fill-opacity': 0}"
       
       r="30.000002" />
    <circle
        [ngStyle]="{'fill': color, 'stroke': color}"    
       
       id="path4557-5"
       cx="31.000002"
       cy="30.999998"
       r="15.100331" />
    <circle
    [ngStyle]="{'fill': color, 'stroke': color}"    
       id="path4572-7"
       cx="51.583"
       cy="9.3867779"
       r="2.5400002" />
  </g>
</svg>
