/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.RoundyaFont {
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
  font-size: 28px;
  display: inline-block;
  vertical-align: super;
  margin-left: 5px;
}

.RoundyaSvg {
  display: inline-block;
}

.mat-form-field {
  width: 75%;
}

body, html{
  height: 100%
}
body{
  margin: 0;
}

.HeaderSection {
  background-color: darkblue;
}
