table {
  width: 100%;
  box-shadow: none !important;
}

tr.places-detail-row {
  height: 0;
}

tr.places-element-row:not(.places-expanded-row):hover {
  background: #f5f5f5;
}

tr.places-element-row:not(.places-expanded-row):active {
  background: #efefef;
}

.places-element-row td {
  border-bottom-width: 0;
}

.places-element-detail {
  overflow: hidden;
  display: flex;
}

.places-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.places-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.places-element-description {
  padding: 16px;
}

.places-element-description-attribution {
  opacity: 0.5;
}

.spinner-container {
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center ;
}
